@import 'tailwindcss';
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-buttons: var(--buttons);
  --color-textSecondary: var(--text-secondary);
  --color-textPrimary: var(--text-primary);
  --color-backgroundSecondary: var(--background-secondary);
  --color-backgroundPrimary: var(--background-primary);
  --color-borderColor: var(--border-color);
}

:root {
  --background-primary: #f8f9fa;
  --background-secondary: #e9ecef;
  --text-primary: #212529;
  --text-secondary: #495057;
  --buttons: #0d6efd;
  --border-color: #ced4da;
}

.dark {
  --background-primary: #121212;
  --background-secondary: #1e1e1e;
  --text-primary: #ededed;
  --text-secondary: #a8a8a8;
  --buttons: #1a73e8;
  --border-color: #444444;
}

body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
